/** 
 * Стили для комментариев 
 */
 
.comments_form{padding-top:0px;}
.comments_form h2.title{color:#AFA56A;margin-bottom:20px;background: url(/images/add_comment.gif) 0 .5em no-repeat;padding-left:23px;font-size:20px;font-family: Verdana, sans-serif;letter-spacing: -1px;}
.comments_form h2.title a{text-decoration:none;border-bottom:1px dashed;color:#AFA56A;}
#comments_form .buttons .time_left{vertical-align: middle;color:#777;font-size: 11px;margin-left:10px;width:290px;display: inline-block;}
#comments_form .editor{margin-bottom:5px;}

#preview_placeholder{border:5px solid #D6D6D6;padding:10px;margin-bottom:20px;font-size: 12px;}

.for_users_only_msg{font-size:14px;}

.comments_list .searched-item{background: lemonChiffon;}

.comments_list{position:relative;overflow:hidden;padding-left:20px;margin-left:-20px;margin-top:40px;}
.comments_list h2.title{color:#AFA56A;margin-bottom:20px; background: url(/images/comments.gif) no-repeat left 65%;padding-left:23px;font-size:20px;font-family: Verdana, sans-serif;letter-spacing: -1px;}
.comments_list h2.title .subscribe_comments{font-size:12px;cursor:pointer;color:#999999;margin-left:2px;}

.comments_list .comment_item{}
.comments_list .comment_item .author_banned{margin-bottom: 20px;font: normal 16px/110% Verdana,sans-serif;color: #666;}
.comments_list .comment_item .info{font-size:11px;font-family:tahoma,sans-serif;line-height:18px;}
.comments_list .comment_item .info.is_new{background:#E8E8FF;}
.comments_list .comment_item .info.is_author{background:#FDF5E6;}
.comments_list .comment_item .info .voting{float:right;margin-top:2px;margin-right:2px;}

/* еще не голосовал - не подсвечиваем ни чего. стрелки обычные, не затененные. */
.comments_list .comment_item .info .voting .plus{width:11px;height:15px;display:block;float:right;margin-top:2px;margin-left:13px;}
.comments_list .comment_item .info .voting .minus{width:11px;height:15px;display:block;float:right;margin-top:2px;margin-left:5px}

.comments_list .comment_item .info .voting a.plus{background:url("/images/icos/icons_vote_posts.gif?r=2") no-repeat 0px -16px;}
.comments_list .comment_item .info .voting a.minus{background:url("/images/icos/icons_vote_posts.gif?r=2") no-repeat -12px -16px;}
.comments_list .comment_item .info .voting a:hover.plus{background:url("/images/icos/icons_vote_posts.gif?r=2") no-repeat 0px 0px ;}
.comments_list .comment_item .info .voting a:hover.minus{background:url("/images/icos/icons_vote_posts.gif?r=2") no-repeat -12px 0px ;}

/** когда голосовать уже нельзя  **/
.comments_list .comment_item .info .voting span.plus{background:url("/images/icos/icons_vote_posts.gif?r=2") no-repeat  -24px 0px ;}
.comments_list .comment_item .info .voting span.minus{background:url("/images/icos/icons_vote_posts.gif?r=2") no-repeat  -24px -16px ;}

/* проголосовал в плюс - подсвечиваем стрелку вверх и затемняем стрелку вниз*/
.comments_list .comment_item .info .voting.voted_plus a.plus{background:url("/images/icos/icons_vote_posts.gif?r=2") no-repeat  0px 0px;}
.comments_list .comment_item .info .voting.voted_plus span.plus{background:url("/images/icos/icons_vote_posts.gif?r=2") no-repeat  0px 0px;}
.comments_list .comment_item .info .voting.voted_plus a.minus{background:url("/images/icos/icons_vote_posts.gif?r=2") no-repeat  -24px -16px ;}
.comments_list .comment_item .info .voting.voted_plus span.minus{background:url("/images/icos/icons_vote_posts.gif?r=2") no-repeat   -24px -16px;}

/* проголосовал в минус - подсвечиваем стрелку вниз и затемняем стрелку вверх */
.comments_list .comment_item .info .voting.voted_minus a.plus{background:url("/images/icos/icons_vote_posts.gif?r=2") no-repeat  -24px 0px  ;}
.comments_list .comment_item .info .voting.voted_minus span.plus{background:url("/images/icos/icons_vote_posts.gif?r=2") no-repeat  -24px 0px  ;}
.comments_list .comment_item .info .voting.voted_minus a.minus{background:url("/images/icos/icons_vote_posts.gif?r=2") no-repeat  -12px 0px ;}
.comments_list .comment_item .info .voting.voted_minus span.minus{background:url("/images/icos/icons_vote_posts.gif?r=2") no-repeat  -12px 0px ;}

/* общий балл не известен */
.comments_list .comment_item .info .voting .mark{float:right;color:#A9A9A9;font-weight:bold;padding-top:2px;font-size:13px;font-family:Arial, Helvetica, sans-serif;}
.comments_list .comment_item .info .voting .mark span{color:#A9A9A9;}
.comments_list .comment_item .info .voting .mark a{text-decoration:none;color:#A9A9A9;}
/* общий бал выше нуля */
.comments_list .comment_item .info .voting .mark.positive span{color:#339900;}
/* общий балл - ниже нуля */
.comments_list .comment_item .info .voting .mark.negative span{color:#CC0000;}
.comments_list .comment_item .info a.avatar{float:left;margin-right:10px;width:24px;height:24px;display:block;overflow:hidden;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.comments_list .comment_item .info a.avatar img{display:block;width:24px;height:24px;}
.comments_list .comment_item .info a.username{float:left;margin-top:3px;display:block;color:#666666;font-weight:bold;}
.comments_list .comment_item .info .comma{float:left;margin-top:3px;margin-right:10px;display:block;color:#666666;font-weight:bold;}
.comments_list .comment_item .info a:hover.username{color:#333;}
.comments_list .comment_item .info time{display:block;margin-top:3px;font-size:10px;color:#666666;float:left;margin-right:10px;}
.comments_list .comment_item .info time .time_changed{font-style: italic;}
.comments_list .comment_item .info a.link_to_comment{display:block;margin-top:3px;font-size:11px;float:left;margin-right:10px;}
.comments_list .comment_item .info .to_chidren{margin-left:4px;display:block;float:left;}

.comments_list .comment_item .info a.link_to_comment,
.comments_list .comment_item .info a.to_parent{text-decoration: none}



.comments_list .comment_item .info a.favorite{display:block;float:left;margin-top:5px;margin-right:5px;width:15px;height:13px;background:url("/images/favorite.gif");}
.comments_list .comment_item .info a.favorite.add{background-position: left top;}
.comments_list .comment_item .info a.favorite.remove{background-position: left bottom;}
.comments_list .comment_item .info a.to_parent{display:block;float:left;margin-top:3px;}

.comments_list .comment_item .info i.favorite{cursor: pointer;font-size:12px;display:inline-block;margin-top:7px;}
.comments_list .comment_item .info i.favorite.add{color:#6DA3BD;}
.comments_list .comment_item .info i.favorite.add:hover{color:#4d7285;}
.comments_list .comment_item .info i.favorite.remove{color:orange;}

.comments_list .comment_item .info .show_tree{cursor: pointer;display:block;float:left;margin-left:4px;margin-right:10px;color:#6DA3BD;font-size:11px;display:inline-block;margin-top:7px;text-decoration: underline;background: url(/images/show_tree_icon.png) no-repeat 0px 0px;text-indent: -9999px;width:7px;height:10px;display: block;}
.comments_list .comment_item .info .show_tree:hover{background: url(/images/show_tree_icon.png) no-repeat -7px 0px;}
.comments_list .comment_item .info .show_tree.open{background: url(/images/show_tree_icon.png) no-repeat -14px 0px;}

.comments_list .comment_item .info {position:relative;}
.comments_list .comment_item:hover > .comment_body .info > .folding-dot-holder{display:block;}
.comments_list .comment_item .info .folding-dot-holder{display:none;position:absolute;top:0;left:0;width:1px;height:1px;}
.comments_list .comment_item .info .folding-dot{width:500px;height:5px;background:red;right:1px;top:9px;position:absolute;background: url(/images/bg-folding-dot-light.png) repeat-x 100% 0;}

.comments_list .comment_item .message{font-size:13px;font-family: Arial, sans-serif;line-height:140%;padding-bottom:5px;padding-top:10px;}

.comments_list .comment_item .message.bad{
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
}
.comments_list .comment_item .message.bad5 { opacity: 0.2;background:#fff;  }
.comments_list .comment_item .message.bad4 { opacity: 0.35;background:#fff; }
.comments_list .comment_item .message.bad3 { opacity: 0.5;background:#fff;  }
.comments_list .comment_item .message.bad2 { opacity: 0.65;background:#fff; }
.comments_list .comment_item .message.bad1 { opacity: 0.8;background:#fff;  }
.comments_list .comment_item .message.bad:hover{opacity:1;}

.comments_list .comment_item .reply{}
.comments_list .comment_item .reply a.reply_link{font-size:11px;text-decoration:none;border-bottom:1px dashed;margin-right:10px;}
.comments_list .comment_item .reply a.edit_link{font-size:11px;text-decoration:none;border-bottom:1px dashed;}
.comments_list .comment_item .reply a.abuse_link{display: none;}
.comments_list .comment_item .comment_body:hover > .reply a.abuse_link{display:inline;cursor:pointer;font-size:11px;text-decoration:none;border-bottom:1px dashed;color:#c6c6c6;margin-left:30px;}
.comments_list .comment_item .comment_body:hover > .reply a.abuse_link:hover{color:#adadad;}
.comments_list .comment_item .reply .abuse_success{font-size:11px;text-decoration:none;color:#c6c6c6;margin-left:30px;font-style: italic;}



.comments_list .comment_item .reply_form_placeholder form{padding-top:20px;}
.comments_list .comment_item .reply_comments{margin-top:20px;}

.comments_list .comment_item .edit_time_left{font-size:11px;color:#777;}

/*.comments_list > .comment:last-child > .reply_comments{margin-top:0px;}*/
.comments_list .comment_item .reply_comments .comment_item{margin-left:20px;}
/* на 14 уровне отступ уже не нужен */
.comments_list .comment_item .reply_comments .comment_item /* второй уровень */
                                         .comment_item
                                          .comment_item
                                           .comment_item
                                            .comment_item
                                             .comment_item
                                              .comment_item
                                               .comment_item
                                                .comment_item
                                                 .comment_item
                                                  .comment_item
                                                   .comment_item 
                                                    .comment_item{margin-left:0;} /* 14 уровень */

/* Comments Plain */
.comments_list .comment_item_plain{overflow: hidden;margin-bottom:10px;}
.comments_list .comment_item_plain .post_info{font-family: Tahoma, sans-serif;font-size: 10px;margin-bottom:5px;width:140px;float:left;}
.comments_list .comment_item_plain .post_info .count{color:red;}
.comments_list .comment_item_plain .comment_item{margin-left:150px;}                                                    
.comments_list .comment_item_plain .comment_item .info{overflow: hidden;}
                                                    
/**
 * X-Panel
 * фича справа или слева для обновления комментариев.
 */
#xpanel{width:32px;position:fixed;top:50%;opacity:0.5;background: #999999;}
#xpanel:hover{opacity:1;}
#xpanel .change{color:#666;font-size:12px;text-decoration:none;padding:0px 10px;position:absolute;left:0;top:-15px}
#xpanel .divider{border-top: solid 1px #5c5c5c;border-bottom: solid 1px #dddddd;width: 28px;height: 0px;margin:0 auto;}
#xpanel .refresh{display:block;background:url("/images/comments/bar/refresh.gif") no-repeat left top;width:28px;margin:2px;height:28px;}
#xpanel .refresh.loading{background:url("/images/comments/bar/refresh-loading.gif") no-repeat left top;}
#xpanel .new{text-decoration:none;display: block;color:#fff;font-size:12px;padding:0;padding-top:4px;padding-bottom:6px;width:34px;text-align:center;}